@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

html, body {
    overscroll-behavior-x: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.app {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--color);
    background: var(--background);
    transition: all 0.2s;
}

.app--light {
    --color: #333;
    --background: #fff;
    --border: #ddd;
    --accent: #eee;
    --accentDark: #404040;
    --red: #b14949;
    --green: #5ab149;
}

.app--dark {
    --color: #ddd;
    --background: #222;
    --border: #555;
    --accent: #eee;
    --accentDark: #404040;
    --red: #7e3535;
    --green: #357e36;
}

.back {
    position: absolute;
    top: 1rem;
    left: 0rem;
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    border: 3px solid var(--accentDark);
    border-right: none;
    border-top: none;
    transition: left 0.2s;
}

.back:hover {
    left: -0.2rem;
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    color: var(--accent);
    background: var(--accentDark);
    cursor: pointer;
}

.button--remove {
    color: var(--accent);
    background: var(--accentDark);
    line-height: 2.7rem;
}

.ribbon {
    position: absolute;
    width: 0rem;
    height: 2.5rem;
    border: 1rem solid var(--accent);
    border-right-color: var(--accentDark);
    border-top: none;
    border-bottom-color: transparent;
    transition: height 0.2s;
    z-index: 1;
}
.ribbon:hover,
.ribbon:target {
    height: 4rem;
}

.ribbon--theme {
    right: 3rem;
}

.section {
    position: relative;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    border: 1px solid var(--border);
    transition: border-color 0.4s;
    border-top-width: 0;
    border-bottom-width: 0;
}

.section:after {
    content: "";
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: calc(100% - 2rem);
    border: 1px solid var(--border);
    border-left-width: 0;
    border-right-width: 0;
}

.header,
.subheader {
    padding: 0.25rem 0;
}

.header {
    padding-top: 0.75rem;
    text-align: center;
    font-weight: bold;
}

.subheader {
    position: absolute;
    top: -1rem;
    left: -1rem;
    padding: 0.5rem 1rem;
    background: var(--accentDark);
    color: var(--accent);
    display: inline-block;
    min-width: 10rem;
    font-size: 1rem;
}

.logo {
    width: 256px;
    height: 256px;
    display: block;
    margin: 0 auto;
    transition: all 0.4s;
}

.app--dark .logo {
    filter: invert(1);
}

.logo--smaller {
    width: 128px;
    height: 128px;
}

.hidden {display: none !important;}

.states {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.state {
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--border);
    color: var(--color);
    transition: background 0.2s;
    text-decoration: none;
}

.state:before {
    content: attr(data-title);
    position: absolute;
    top: calc(50% - 0.5rem);
    height: 1rem;
    right: 3.5rem;
}

.state:after {
    content: "";
    position: absolute;
    top: 0.5rem;
    height: calc(100% - 1rem);
    left: 50%;
    border-left: 1px solid var(--red);
}

.state--label-right:after {
    display: none;
}

.state--label-right:before {
    right: auto;
    left: 3.5rem;
}

.state--0 {
    background: var(--background);
}
.state--50 {
    background: linear-gradient(90deg, var(--background), 50%, var(--red) 50%);
}
.state--100 {
    background: var(--red);
}

.input {
    display: inline-block;
    background: var(--background);
    color: var(--color);
    border: 1px solid var(--border);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    min-height: 1rem;
    font-family: 'Roboto';
    transition: background 0.2s, border-color 0.2s;
}

.input:focus {
    outline: none;
    border-color: var(--accentDark);
}

.input--name {
    padding: 0.25rem;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--border);
}

.input--textarea {
    min-height: 2rem;
    resize: none;
}

.die {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;

    color: var(--accent);
    background: var(--accentDark);

    border-radius: 0.5rem;
    text-decoration: none;
    outline: none;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
}

.die-prev {
    display: block;
    position: fixed;
    bottom: calc(10% - 1.5rem);
    right: calc(10% - 1.5rem);
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    line-height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: var(--accentDark);
    background: var(--accent);
    text-align: center;
    transition: filter 0.3s, transform 0.4s, bottom 0.2s ease-out, right 0.2s ease-out;
}

.app--dark .die-prev {
    filter: invert(1);
}

.die--rolled {
    animation: shake 0.5s forwards !important;
}

.die--rolled ~ .die-prev {
    bottom: calc(10% + 1rem);
    right: calc(10% + 1rem);
    transform: rotate(30deg);
}

.input:last-child,
.state:last-child,
.section:last-child {
    margin-bottom: 0;
}

.character {
    margin-top: 1rem;
}

.character--threaten .die {
    animation: tremble 0.2s linear infinite;
}

.character--crisis .die {
    animation: pulse 3s infinite;
}

.character--crisis.character--threaten .die {
    animation: tremble 0.2s infinite, pulse 3s infinite;
}

.character__item {
    margin: 1rem auto;
    list-style-type: none;
}

.list__item {
    position: relative;
    margin-bottom: 0.3rem;
    margin-left: 0;
    background: var(--background);
    z-index: 1;
    transition: transform 0.2s;
}

.list__item--dragged {
    transition: transform 0s;
}

.list__item--equipped {
    margin-left: 0.5rem;
}

.list__item-wrapper {
    position: relative;
    overflow: hidden;
}

.list__item-wrapper:before,
.list__item-wrapper:after {
    content: "+";
    display: block;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    right: auto;
    height: 2.1rem;
    color: var(--accent);
    font-weight: bold;
    background: var(--green);
    width: 20%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
    box-shadow: inset 0 0 0.5rem var(--accentDark);
}

.list__item-wrapper:after {
    left: auto;
    right: 0.1rem;
    content: "×";
    line-height: 1.8rem;
    background: var(--red);
    width: 33%;
}

.inventory {
    position: relative;
}

.item__name,
.item__bond {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border);
    background: var(--background);
}

.item__name--bond {
    width: calc(100% - 5rem);
}

.item__bond {
    width: 4rem;
    text-align: center;
}

.item__name:focus~.item__scratches {
    
}
.item__scratches {
    position: absolute;
    top: 0.2rem;
    right: 0;
    display: inline-block;
    min-width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;
    text-align: center;
    color: var(--color);
    z-index: 2;
}

.item__scratches:empty:after {
    content: "*";
}

.item__scratches:active ~ .item__name {
    animation: itemflash 0.2s 0.6s forwards;
}

.item__scratches--strike {
    text-decoration: line-through;
}

.item__remove {}

.momentum__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 2rem;
    line-height: 2rem;
    margin-left: 0;
    background: var(--background);
    z-index: 1;
    transition: transform 0.2s;
}

.momentum__content:before,
.momentum__content:after {
    content: "";
    font-size: 2rem;
    top: 0;
    left: 0.5rem;
    line-height: 2rem;
    position: relative;
    vertical-align: middle;
    border: 2px solid var(--accent);
    border-top: none;
    border-bottom: none;
    width: 0.2rem;
}

.momentum__content:after {
    left: auto;
    right: 0.5rem;
}

.momentum__content--dragged {
    transition: transform 0s;
}

.momentum__square {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--accentDark);
    display: inline-block;
    margin: 0;
    background: var(--accent);
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    align-self: center;
    vertical-align: middle;
    animation: zoomin 0.4s forwards;
}

.experience__name {}

.bond__name {}

.footer {
    margin: 1rem auto;
    padding: 0.5rem;
    border-top: 1px solid var(--accentDark);
    text-align: center;
}
.link {
    color: var(--accentDark);
    text-decoration: none;
}

.character__link {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--accent);
    background: var(--accentDark);
    border-radius: 0.5rem;
}

@keyframes pulse {
    0% {background: var(--accentDark);}
    10% {background: var(--red);}
    20% {background: var(--accentDark);}
    30% {background: var(--accentDark);}
    40% {background: var(--red);}
    50% {background: var(--accentDark);}
    100% {background: var(--accentDark);}

}


@keyframes tremble {
    0% {transform: translateX(0);}
    33.3% {transform: translateX(-0.1rem);}
    66.6% {transform: translateX(-0.1rem);}
    100% {transform: translateX(0rem);}
}

@keyframes shake {
    0% {transform: rotate(0deg); color: var(--accent);}
    20% {transform: rotate(-45deg);}
    40% {transform: rotate(+45deg); color: var(--accentDark);}
    60% {transform: rotate(-45deg); color: var(--accentDark);}
    80% {transform: rotate(+45deg);}
    100% {transform: rotate(0deg); color: var(--accent);}
}

@keyframes zoomin {
    0% {scale: 0;}
    90% {scale: 1.1;}
    100% {scale: 1;}
}

@keyframes itemflash {
    0% {color: initial; background: transparent}
    50% {color: var(--red); background: var(--accent)}
    100% {color: initial; background: transparent}
}

@media screen and (max-width: 1200px) {.wrapper {width: 50%;}}
@media screen and (max-width:  960px) {.wrapper {width: 60%;}}
@media screen and (max-width:  720px) {.wrapper {width: 70%;}}
@media screen and (max-width:  640px) {.wrapper {width: 80%;}}
@media screen and (max-width:  480px) {.wrapper {width: 90%;}}